body{
    font-family: 'Verdana', sans-serif;
    font-size: 11px;
    color: #778873;
    background-color: #F1F3E0;
    margin: 0;
}

header{
    color: white;
    background-color: #778873;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.brand{
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo {
    width: 100px;
    height: auto;   
}

#active {
    text-decoration: underline;
}

h1{
    margin: 0;
}

nav a{
    font-size: 17px;
    margin-left: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
}

#scholarshipBox{
    margin: 30px 105px;
    padding: 30px 50px;
    background-color: #93a190;
    border-radius: 10px;
    color: #F1F3E0;
}

#detailBox{
    border-radius: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

#detailBox section{
    background-color: #a6b5a3;
    padding: 15px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#detailBox p{
    font-weight: bold;
}

li{
    font-size: 17px;
}

h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0;
}

p{
    font-size: 21px;
    margin: 15px 1px 10px;
}
 
.buttons{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    padding: 13px 20px;
    background-color: #778873;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.buttons:hover{
    background-color: #62725e;
}

.homeImage{
    min-width: 550px;
    max-height: 250px;
}

.deadlineText{
    color: #d12a2a;
    font-weight: bold;
    font-style: italic;
}

#pastLabel{
    background-color:#a6b5a3;
    color: #F1F3E0;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 0;
}

footer{
    background-color: #62725e;
    color: #F1F3E0;
    padding: 40px 75px 20px;
    margin-top: 50px;
}

footer .footerContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
    row-gap: 20px;
}

footer p, footer a{
    font-size: 15px;
    font-weight:lighter;
    text-align:justify;
}

footer a{
    display: block;
    padding: 9px 0;
}

footer p{
    line-height: 1.6;
}

footer h4{
    font-size: 30px;
    margin-bottom: 0;
}

footer h5{
    font-size: 20px;
    font-style:italic;
}

footer a:hover{
    text-decoration: underline;
}

#copyright{
    font-size: 13px;
    color: #F1F3E0;
    grid-column: 1 / -1;
    text-align: center; 
    margin-top: 0;
}

footer #logo{
    width: 150px;
    margin-top: 0;
}